@font-face {
  font-family: 'decterm';
  src: url(./fonts/_decterm.ttf);
}

*,h1,h2,h3,p,input{
  padding: 0%;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  font-family: 'decterm';
}

body {
  padding: 0%;
  margin: 0;
  font-family: 'decterm', sans-serif;
  background-color: black;
}

.flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  background-color: #006b22;
  height: 57px;
  align-items: center;
  justify-content: center;
  
}

.header-title{
  height: 28px;
  margin-bottom: 6px;
}
.input-search{
  width: 488px;
  height: 69px;
  border-radius: 46px;
  margin-top: 62px;
  background-color: #006B22 ;
}
input[type=text]{
  padding: 15px 42px;
  /* margin: 10px 5px; */
  box-sizing: border-box;
  font-size: 24px;
  line-height: 27.5px;
  border: none;
  
}
.input-search::placeholder{
  color: black;
  opacity: 35%;
}
.empty-search{
  color: #006b22;
  margin-top: 62px ;
  border: 9px solid #006B22;
  box-sizing: border-box;
  display: inline-block;
  padding: 10%;
}
.green{
  color: #006B22;
}
.time{
  padding-left: 8.12px;
  padding-right: 8.12px;
}

.after-search{
  color: #006b22;
  margin-top: 62px ;
  border: 9px solid #006B22;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-top: 17.5px;
  
}

.green-hr{
  height: 1px;
  background-color: #006b22;
  border: none;
}

.story-container{
  margin-top: 17.5px;
}
.container-info{
  display: flex;
}

.posted{
  margin-left: 3%;
}
.points{
  margin-left: 30px;
}

.show-comments{
  background-color: black;
  margin-left: 30px;
  width: 120px;
  border: 1px solid #006b22;
  font-size: 1em;
}

.show-comments:hover{
  border: 2px solid white;
  color:  white;
}

.border{
  border: 1px solid #006b22;
  margin: 30px;
  padding: 10px;
}
.border-spacing{
  /* border: 1px solid white; */
  margin-top: 10px;
  margin-left: 60px;
}